# ===========================
# Virtual Environment
# ===========================
.venv/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Kaggle Credentials
# ===========================
kaggle/kaggle.json

# ===========================
# Dataset
# ===========================
datasets/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db